html,body{
		margin: 0;
		padding: 0;
	}
	.resultContainer{
		display: flex;
		font-size:14px;
	}
	.resultThumbnail img {
		width: 80px;
		height: 107px;
	}
	.resultDetail ul{
		list-style-type:none;
	}
	#titleInfo a{
		cursor: pointer;
		font-size: 20px;
		color:#3A5696;
		text-decoration:none;
	}
	.pageNum{
            margin: 0 10px;
            cursor: pointer;
    }
    #next{
    	cursor: pointer;
    }
    #prev{
        display: none;
        cursor: pointer;
    }
    #pagination{
    	width: fit-content;
    	margin: 0 auto;
    	padding: 20px;
    }